@using PRN231APICMS.Models
@model Subject

<h2 class="card-title">@Model.SubjectName</h2>
<ol class="list-group list-group-numbered">

    @for(int i=1;i<=Model.Weeks.Value;i++)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Week @i</div>
             
            </div>
            <span class="badge bg-primary rounded-pill">1</span>
        </li>
    }
    
</ol>