@using PRN231APICMS.Models
@model List<Subject>

<div class="row gx-4 gx-lg-5">
    @foreach(var item in Model)
    {
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">@item.SubjectName</h2>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" asp-action="Detail" asp-route-id="@item.SubjectId">More Info</a></div>
            </div>
        </div>

    }

 
  
</div>
     