@using PRN231APICMS.Models
@model Test


<ol class="list-group list-group-numbered">

    
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-6 me-auto">
                <a asp-action="Test" asp-controller="Tests" asp-route-id="@Model.TestId">
                    <div class="fw-bold">@Model.TestName</div>
                </a>
            </div>
            <span class="badge bg-primary rounded-pill"></span>
        </li>
    

</ol>